.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: white;

  &:hover,
  &:focus {
    color: rgba(white, 0.7);
  }
}

.nav__item--accent {
  .nav__link {
    padding: 6px 36px;
    font-weight: 700;
    color: $main-green;
    border-radius: 20px;
    background-color: white;

    &:hover,
    &:focus {
      color: $main-green;
      background-color: rgba(white, 0.8);
    }
  }

}
