.page-main__title {
  margin: 0;
  margin-bottom: 15px;
  min-width: 300px;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.003em;
  color: $text-grey;
}

.page-main__title--green {
  color: $main-green;
}
