.page-footer {
  color: white;
  background-color: $main-green;
  background-image: url("../img/footer-bg-fruit1.png"),
                    url("../img/footer-bg-fruit2.png"),
                    url("../img/footer-bg-fruit3.png"),
                    url("../img/footer-bg-fruit4.png"),
                    url("../img/footer-bg-fruit5.png");
  background-repeat: no-repeat;
  background-position: left -87px top 55px,
                       left 285px top 75px,
                       left 452px bottom -20px,
                       right 259px top 32px,
                       right -90px bottom -80px;
  background-size: 288px 291px,
                   152px 168px,
                   111px 134px,
                   230px 188px,
                   325px 427px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 102px;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.03em;
  text-align: center;

  b {
    font-weight: 700;
  }
}

.page-footer__text {
  max-width: 870px;
  margin: 0;
  margin-bottom: 55px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.page-footer__link {
  width: 245px;
  padding: 10px 36px;
  font-weight: 700;
  text-align: center;
  color: $main-green;
  border-radius: 20px;
  background-color: white;

  &:hover,
  &:focus {
    color: $main-green;
    background-color: rgba(white, 0.8);
  }
}
