.page-header {
  padding-bottom: 51px;
  color: white;
  background-color: $main-green;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 51px;
}

.page-header__top {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 22px;
}

.page-header__logo {
  margin-right: auto;
}
