.plan {
  background-color: $background-grey;
}

.plan__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 105px;
}

.plan__title {
  margin-bottom: 21px;
}

.plan__text {
  max-width: 870px;
  margin: 0;
  margin-bottom: 105px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: $text-grey;
  text-align: center;
}
